<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge;">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <title>IDE</title>

  <link rel="stylesheet" href="../css/splitbox.css">
  <link rel="stylesheet" href="../css/winwin.css">
  <style>
    body {
      font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 15px;
    }
  </style>

  <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-sanitize.min.js"></script>

  <script src="https://rawgithub.com/siddii/angular-timer/master/dist/angular-timer.min.js"></script>
  <script src="https://rawgithub.com/EvanHahn/HumanizeDuration.js/master/humanize-duration.js"></script>
  <script src="https://rawgithub.com/moment/moment/develop/min/moment.min.js"></script>
  <script src="bundle.js"></script>

  <script type="text/javascript">
    var module = angular.module('myApp', ['ui.winwin', 'timer']);
    module.controller('TodosController', ['$scope', function ($scope) {
    var counter = 0;
    console.log("CONTROLLER");
    $scope.todos = [
        {
            name: 'David',
        },
        {
            name: 'Tina',
        },
        {
            name: 'Michelle',
        }
    ];

    $scope.addTodo = function () {
        counter++;
        $scope.todos.push({
            name: 'New Todo' + counter,
        });
    };
}]);
module.directive('myIsolatedScope', function () {
    return {
        scope: {param:"@"},
        controller: 'TodosController',
        template: '<div ng-repeat="todo in todos">{{todo.name}}</div><button ng-click="addTodo()">Add{{param}}</button>'
    };
});    
    module.run(function(paneResolverService) {
      paneResolverService.addResolver(function(qry) {
        if (qry.uri) {
          var parser = document.createElement('a');
          parser.href = qry.uri;
          if (parser.protocol === 'http:' || parser.protocol === 'https:') {
            return angular.element('<pane caption="' + parser.hostname + '"><iframe src="' + qry.uri +'" width="100%" height="100%"></pane>');
          }
        }
      });
    });
  </script>
</head>

<body>
  <vbox>
    <window>
            <pane caption="Tab 1"><div>Tab Content 1<br/><my-isolated-scope param="1"/></div></pane>
      <pane caption="Tab 1"><div>Tab Content 1<br/><timer>{{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.</timer></div></pane>

      <pane caption="Tab 2"><div>Tab Content 2<br/><timer>{{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.</timer></div></pane>
      <pane caption="Tab 3"><div>Tab Content 3<br/><timer>{{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.</timer></div></pane>
      
            <pane caption="Tab 2"><div>Tab Content 2<br/><my-isolated-scope param="2"/></div></pane>
            <pane caption="Tab 3"><div>Tab Content 3<br/><my-isolated-scope param="3"/></div></pane>
    </window>
    <window>
      <pane caption="Test A">
        <div>A</div>
        <div ui-draggable
             ui-drag-format="application/x-lx-window-pane"
             ui-drag-data='{"uri":"http://www.aftonbladet.se"}'>Aftonbladet</div>
      </pane>
    </window>
  </vbox>
</body>
</html>
